@using Kooboo_CMS.Areas.Integration.Models;
@model List<ImportSetting>
@if (Model != null)
{
    <table class="import-setting">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th class="col-func"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ImportSetting setting in Model)
            {
                <tr>
                    <td><span class="more">@setting.SourceType</span></td>
                    <td>
                        <h2>@Html.ActionLink(setting.Name, "EditImportSetting", "IntegrationAdmin",new{ id = setting.UUID, siteName = "AnimalFriends"}, new{@class=(setting.Active ? "active" : "")}) </h2>
                        @Html.ActionLink("Edit import settings", "ImportSetting", "IntegrationAdmin",new{ id = setting.UUID, siteName = "AnimalFriends"}, new{@class=(setting.Active ? "active" : "")}) 
                    </td>
                    <td>
                        @if (setting.Enabled)
                        {
                            <div class="active-@setting.UUID @(setting.IsRunning() ? "active" : "inactive")">
                                @using (Html.BeginForm("Import", "IntegrationAdmin", FormMethod.Post, new {@class = "import"}))
                                {
                                    <input name="uuid" type="hidden" value="@setting.UUID" />
                                    <button>Run...</button>
                                }
                                @using (Html.BeginForm("StopImport", "IntegrationAdmin", FormMethod.Post, new {@class = "stop"}))
                                {
                                    <input name="uuid" type="hidden" value="@setting.UUID" />
                                    <button>Stop...</button>
                                }
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="progressinfo progressinfo-history">
                            <strong>Repeatinterval @setting.RepeatIntervalInMinutes minutes</strong> |
                            <strong>Last started <span class="startdate-@setting.UUID">@setting.LastStartedAt.ToString("HH:mm:ss")</span></strong>
                        </div>
                            
                        <div class="showhide-progressinfo-@setting.UUID @(setting.Active ? "show-progressinfo" : "hide-progressinfo") progressinfo progressinfo-active">
                            <strong class="icon-clock timer-started"> Started <span class="startdate-@setting.UUID"></span></strong> |
                            <strong class="icon-clock timer-started"> Elapsed <span id="elapsedtime-@setting.UUID"></span></strong>
                        </div>
                        <progress id="progress-@setting.UUID" max="100"></progress>
                        <span class="showhide-progressinfo-@setting.UUID @(setting.Active ? "show-progressinfo" : "hide-progressinfo") icon-download"> Imported <span id="elapsed-@setting.UUID"></span>/<span id="total-@setting.UUID"></span> <span id="procent-@setting.UUID"></span>%</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
