<footer id="footer">
  	<ul>
      	<li class="footer-item footer-item-about">
          	<h4>
          		@("About header".Label())
          	</h4>
          	@("About text".Label())
		</li>
    	<li class="footer-item footer-item-member">
          	<h4>
          		@("Become a member header".Label())
          	</h4>
          	@("Become a member text".Label())
		</li>
      <li class="footer-item footer-item-member">
          	<h4>
          		@("Telephonenumbers header".Label())
          	</h4>
          	@("Telephonenumbers text".Label())
		</li>
	</ul>
</footer>