@using Kooboo.CMS.Search;
@using Kooboo.CMS.Content.Models;
  @if(ViewBag.NewsList != null){
    foreach (var item in ViewBag.NewsList){
    <article class="item-news" @ViewHelper.Edit(item)>
        <a href="@Url.FrontUrl().PageUrl(string.Format("{0}/Detail", Page_Context.Current.PageRequestContext.Page.Name), new { userkey = item.UserKey})">
            <h3 class="item-header" @ViewHelper.Edit(item,"Header")>@item.Header</h3>
        </a>
      	<ul class="item-images">
            @foreach(var file in ContentHelper.SplitMultiFiles(item.Images))
		{
        	<li>
          		<img src="@file?width=400" alt=""/>	
          	</li>
		}
      	</ul>	
      
      	<div @ViewHelper.Edit(item,"Text")>
			@Html.Raw(item.Text)
      	</div>
    </article>
    }
}