@model System.Collections.Generic.IEnumerable<AnimalFriends.Integration.Models.News>
@{
    Layout = "~/Views/Shared/Site.cshtml";
    ViewBag.Title = "Settings".Localize();
}

@section Panel{
    <ul class="panel">
        <li>
            <a href="@Url.Action("Import", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))">
                @Html.IconImage("import") @("Import".Localize())</a>
        </li>
        <li><a href="@Url.Action("Preview", ViewContext.RequestContext.AllRouteValues().Merge("return", ViewContext.HttpContext.Request.RawUrl))" data-show-on-check="Any" data-command-type="AjaxPost" data-confirm="@("Are you sure you want to delete these items?".Localize())">
            @Html.IconImage("preview") @("Preview".Localize())</a>
        </li>
    </ul>
}
<div class="import">
    @Html.Action("GetAllImportSettings")
</div>